.header {
  padding: 40px 23px 23px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 8%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}