* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

body {
    overflow: hidden;
}

button {
    border: none;
    background: none;
}

// socials ------------------------------------
.socials {
    height: 100vh;
    width: 4%;
    background-color: #000;
}

.window {
    // overflow: hidden;
}

.window_inner {
    display: flex;
    // overflow: hidden;
}

.nomand_list {
    padding: 36px 26px 15px 26px;
    width: 18%;
    background: #25272A;
    mix-blend-mode: normal;
    color: #B5B5B5;
}

.nomand_list_header {
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
}

.nomand_list_arrow {
    display: flex;
    align-items: center;
    .nomand_title {
        margin-right: 7px;
        font-weight: bold;
        font-size: 20px;
        color: #fff;
    }
}

.nomand_list_all {
    margin-bottom: 31px;
    display: flex;
    .nomand_list_all_name {
        margin-left: 11px;
    }
}

.channels {
    margin-bottom: 17px;
    .channels_header {
        margin-bottom: 14px;
        display: flex;
        justify-content: space-between;
    }
    .channel_items {
        padding: 0 0 0 10px;
        margin-right: -26px;
        max-height: 300px;
        overflow: auto;
        .channel {
            margin-bottom: 11px;
            cursor: pointer;
            
            &:last-child {
                margin-bottom: 0;
            }
            a.active{
                color:rgb(101, 83, 255);
                text-decoration: none;
            }
            a{
                color: rgb(184, 184, 184);
                text-decoration: none;
            }
        }
    }
}

.friends_header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.friend_item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;

}

.friend_name{
    color: rgb(184, 184, 184);
    text-decoration: none;
    &.active{
        color:rgb(101, 83, 255);
        text-decoration: none;
    }
}

.indikator {
    margin-right: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #666666;
    &.active {
        background: #70CC16;
    }
}

.avatar {
    margin-right: 13px;
    width: 34px;
    height: 34px;
    border-radius: 13%;
    object-fit: contain;
}

// active chanell ---------------------------------
.active_channel {
    position: relative;
    left: 0;
    top: 0;
    width: 62%;
    height: 100vh;
    padding-bottom: 73px;
}

.active_channel_scroll {
    width: 100%;
    height: 92%;
    overflow-y: auto;
    overflow-x: hidden;
}

.active_channel_header {
    padding: 40px 23px 23px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.active_channel_left {
    display: flex;
    align-items: center;
    .active_channel_name {
        margin-right: 6px;
        font-weight: bold;
        font-size: 20px;
    }
}

.active_channel_right {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    .people {
        margin-right: 20px;
    }
    .active_channel_count_people {
        margin-right: 12px;
        font-size: 14px;
        line-height: 17px;
        color: #A4A4A4;
    }
    .search_inner {
        position: relative;
        .search_button {
            position: absolute;
            right: 39px;
            top: 13px;
            border: none;
            background: none;
            cursor: pointer;
        }
        .active_channel_search {
            margin-right: 22px;
            padding: 9px 17px;
            width: 241px;
            font-weight: normal;
            font-size: 14px;
            background: rgba(0, 0, 0, 0.0001);
            border: 0.5px solid rgba(0, 0, 0, 0.24);
            border-radius: 6px;
        }
    }
    .notification {
        position: relative;
        left: 0;
        top: 0;
        margin-right: 24px;
        .red_notification {
            position: absolute;
            right: -2px;
            top: -2px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: red;
        }
    }
    .active_channel_more {
        border: none;
        background: none;
        cursor: pointer;
    }
    .active_channel_more_circle {
        margin-top: 2px;
        width: 4px;
        height: 4px;
        background: #B3B3B3;
        border-radius: 50%;
        &:first-child {
            margin-top: 0;
        }
    }
}

.active_channel_main {
    padding: 0 23px;
    width: 100%;
}

.user_message {
    margin: 18px 0;
    display: flex;
}

.user_message_info {
    margin-bottom: 5px;
    display: flex;
    .user_name {
        margin-right: 8px;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
    }
    .message_date {
        margin-right: 2px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #8D8D8D;
    }
    .message_meridiem {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #8D8D8D;
    }
}

.message_text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}

.hashtag {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #3577EF;
    cursor: pointer;
}

.date_line {
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .line {
        width: 100%;
        height: 1px;
        background-color: #000;
        mix-blend-mode: normal;
        opacity: 0.16;
    }
    .date {
        padding: 0 10px;
        position: relative;
        display: inline;
        top: -10px;
        background-color: #fff;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #8D8D8D;
    }
}

.info {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #3577EF;
    cursor: pointer;
}

.image_container {
    position: relative;
    top: 0;
    left: 0;
    width: 266px;
    height: 201px;
    .message_image {
        width: 266px;
        height: 201px;
        border-radius: 5px;
        object-fit: cover;
    }
    .info_likes {
        padding: 3px 6px;
        position: absolute;
        right: -10px;
        bottom: -10px;
        display: flex;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
        border-radius: 5px;
        .emoji {
            margin-right: 5px;
            width: 15px;
            height: 15px;
            object-fit: contain;
        }
        .count_likes {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
}

.message_input {
    padding: 12px 23px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8.5%;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    background-color: #fff;
    .message_input_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .attach {
            margin-right: 19px;
            cursor: pointer;
        }
        .voice {
            margin-right: 21px;
            cursor: pointer;
        }

        .send_button{
            width: 20px;
            cursor: pointer;
        }
        .message_input_text {
            padding-top: 13px;
            width: 88%;
            border: none;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            resize: none;
        }
    }
}

// profile --------------------------------------------
.profile {
    background: rgb(197, 197, 197);
    opacity: 0.8;
    width: 16%;
    .profile_inner {
        padding: 19px 21px;
    }
}

.profile_photo {
    width: 100%;
    height: 25%;
    object-fit: cover;
}

.profile_name_indikator {
    display: flex;
    align-items: center;
    .profile_name {
        margin-bottom: 5px;
        margin-right: 9px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
    }
}

.profile_profession {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
}

.profile_socials {
    display: flex;
    .social_item {
        margin-bottom: 19px;
        margin-right: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #E8E8EB;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
    }
}

.profile_actions {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    .profile_message {
        margin-right: 4px;
        padding: 6px 41px;
        background: #3577EF;
        border-radius: 5px;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }
    .profile_more {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 27.5px;
        background: #3577EF;
        border-radius: 5px;
        cursor: pointer;
    }
}

.info_title {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
}

.info_subtitle {
    margin-bottom: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}